@page "/"
@using WinterFood.Data
@using WinterFood.Models
@inject RecipeService service

<PageTitle>Index</PageTitle>

<div class="container">
    <h1>Recipes</h1>
    <ul>
        @foreach (var recipe in Recipes)
        {
            <li>@recipe.Name</li>
        }
    </ul>
</div>

@code {
    List<Recipe> Recipes = new List<Recipe>();

    protected override async Task OnInitializedAsync()
    {
        // await Task.CompletedTask;
        await RefreshRecipes();
    }

    private async Task RefreshRecipes()
    {
        Recipes = await service.GetRecipesAsync();
    }
}